<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objects</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>100,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>106,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>112,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>118,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>124,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>130,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>100,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>106,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>112,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>118,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>124,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>130,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>200,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>250,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>350,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>400,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>500,88</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>600,88</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>700,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>750,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>850,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>900,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>950,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>1050,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>1150,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>1250,88</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1350,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1356,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1362,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1368,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1374,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1380,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1350,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1356,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1362,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1368,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1374,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>1380,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>1450,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>1500,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>1600,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>position</key>
			<string>1700,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>position</key>
			<string>1800,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>1900,88</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>2000,88</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>2100,88</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>2200,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>2250,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>2350,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>2400,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>2500,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>2550,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>2600,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2700,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2706,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2712,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2718,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2724,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2730,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2700,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2706,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2712,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2718,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2724,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>2730,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>2800,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>2850,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>position</key>
			<string>2950,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>3050,88</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>3150,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>position</key>
			<string>3250,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>position</key>
			<string>3300,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>position</key>
			<string>3350,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>3450,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>3550,88</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3650,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3656,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3662,101</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3668,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3675,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3681,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3687,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3693,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3700,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3706,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3712,101</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3718,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3725,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3731,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3737,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>3743,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>3800,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>position</key>
			<string>3900,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4000,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4006,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4012,101</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4018,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4025,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4031,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4037,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4043,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4050,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4056,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4062,101</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4068,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4075,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4081,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4087,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>4093,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>position</key>
			<string>4150,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>position</key>
			<string>4200,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>position</key>
			<string>4300,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>position</key>
			<string>4400,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>position</key>
			<string>4500,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>4600,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>4650,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>position</key>
			<string>4750,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>position</key>
			<string>4800,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>4900,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5000,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5006,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5012,101</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5018,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5025,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5031,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5037,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5043,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5050,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5056,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5062,101</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5068,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5075,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5081,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5087,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5093,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>5150,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>position</key>
			<string>5200,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>position</key>
			<string>5300,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>position</key>
			<string>5350,225</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5450,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5456,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5462,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5468,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5474,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5480,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5450,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5456,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5462,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5468,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5474,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5480,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>5550,88</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>5650,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>position</key>
			<string>5700,25</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5800,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5806,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5812,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5818,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5824,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5830,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5800,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5806,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5812,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5818,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5824,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5830,106</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5900,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5906,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5912,101</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5918,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5925,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5931,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5937,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5943,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5950,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5956,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5962,101</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5968,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5975,100</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5981,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5987,99</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>5993,99</string>
		</dict>
	</array>
	<key>backImage</key>
	<string>levelBtn.png</string>
	<key>groundImage</key>
	<string>Icon.png</string>
	<key>skyImage</key>
	<string>partBtn.png</string>
</dict>
</plist>
