<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>savage1Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{90,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,124}}</string>
                <key>sourceSize</key>
                <string>{90,124}</string>
            </dict>
            <key>savage1Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,138}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
            <key>savage1LeftFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>savage1LeftHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,196},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>savage1RightFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,218},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>savage1RightHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,174},{88,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,61}}</string>
                <key>sourceSize</key>
                <string>{88,61}</string>
            </dict>
            <key>savage2Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>savage2Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{90,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,124}}</string>
                <key>sourceSize</key>
                <string>{90,124}</string>
            </dict>
            <key>savage2Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,34},{99,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,138}}</string>
                <key>sourceSize</key>
                <string>{99,138}</string>
            </dict>
            <key>savage2LeftHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,196},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>savage2LeftWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,174},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>savage2RightHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,237},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>savage2RightWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,174},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chaser.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:926a79b94de2afcbd8dcd2d27c7c829b$</string>
            <key>textureFileName</key>
            <string>chaser.png</string>
        </dict>
    </dict>
</plist>
