<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crowBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,67}}</string>
                <key>sourceSize</key>
                <string>{114,67}</string>
            </dict>
            <key>crowFootLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,110},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>crowFootRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,11}}</string>
                <key>sourceSize</key>
                <string>{28,11}</string>
            </dict>
            <key>crowWingLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,71},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>crowWingRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crow.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7135540fcc093f217485e38f3b5c42e7$</string>
            <key>textureFileName</key>
            <string>crow.png</string>
        </dict>
    </dict>
</plist>
